.app-Title {
  font-weight: 500;
  font-size: 25px;
}

/*  */

.example-card {
  border: 1px solid gray;
  margin: 10px 5px 5px 5px;
}

.section-1-title {
}

.container-header {
  width: 100%;
  background-color: #f5f5f5;
}

.container-fluid-width {
  max-width: 1024px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-section-1 {
  min-height: 60vh;
  /* background-color: black; */
  background-color: white;
}
.container-section-2 {
  min-height: 100%;
  /* background-color: black; */
  background-color: #f5f5f5;
}

.section-1-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-16 {
  padding: 0 0 0 16px;
  flex-direction: row;
}

.example-spacer {
  flex: 1 1 auto;
}
