<div class="container-home">
  <div class="row container-header">
    <p class="container-fluid-width">
      <mat-toolbar>
        <span ngNonBindable class="app-Title">{{ theguard }}</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>code</mat-icon>
        </button>
      </mat-toolbar>
    </p>
  </div>
  <div class="container-section-1">
    <div class="row container-fluid-width section-1-row">
      <div class="col-sm-12 col-md-8 col-lg-8 section-1-title">
        <!-- <p>AI is going to effect our daily routine in coming future</p>
        <p>Be ready! </p> -->
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">CD</div>
    </div>
  </div>
  <div class="container-section-2">
    <div class="row container-fluid-width section-1-row">
      <div class="col-sm-12 col-md-6 col-lg-6 section-1-title">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Data Structure & Algo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/">Go to...</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 section-1-title">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 section-1-title">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>{{ longText }} </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 section-1-title">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container-section-3">
    <div class="row container-fluid-width section-1-row">
      <div class="col-sm-12 col-md-12 col-lg-12 section-1-title">
        <!-- <p>AI is going to effect our daily routine in coming future</p>
        <p>Be ready! </p> -->
      </div>
    </div>
  </div>
</div>
